@model LancheListViewModel

<div><h2>@Model.CategoriaAtual</h2></div>

@*@foreach(var lanche in Model)
    {
    <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
    <img src="@lanche.ImagemUrl" class="img-rounded" alt="" />
    </div>

    <div class="caption">
    <h3 class="pull-righ"> @lanche.Preco.ToString("c")</h3>
    <h3>
    Nome: @lanche.Nome
    </h3>
    <p>@lanche.DescricaoCurta</p>
    </div>
    </div>
    }*@
<div classe="container">
    <div class="row">
        @foreach (var lanche in Model.Lanches)
        {
            <div class="col-sm-4">
                <img src="@lanche.ImagemUrl" alt="" />
                <h3 class=text-left> @lanche.Preco.ToString("c") </h3>
                <p>@lanche.Nome</p>
                <p>@lanche.DescricaoCurta</p>
            </div>
        }
    </div>
</div>